@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}
<h1>About Me</h1>
<p>Hello! My name is Ahmet Özcan. I like playing and developing games, listening music, watching TV series and movies, playing football.</p>
<h2>Skills</h2>
<ul>
    <li>C#</li>
    <li>Unity</li>
    <li>Java</li>
    <li>Python</li>
    <li>Git</li>
    <li>MS Office</li>
    <li>Analytical Thinking</li>
    <li>Team Player</li>
</ul>

<h2>Work Experience</h2>
<p>
    <b>Intern – Teknodev, Antalya/Turkiye</b><br />
    June 2023 – August 2023
</p>

<h2>Education</h2>
<ul>
    <li><b>Akdeniz University</b> – Computer Science Engineering (2019 – Present)</li>
    <li><b>Dr. İlhami Tankut Anadolu Lisesi</b> (2015 – 2019)</li>
</ul>

<h2>Languages</h2>
<ul>
    <li>Turkish – Native</li>
    <li>English – B2</li>
</ul>
